.about {
  margin: 1%;
  border-left: 3px solid black;
  border-radius: 0.5rem;
  padding: 3%;
}
header {
  font-weight: bold;
  text-decoration: underline;
  text-align: center;
  padding-bottom: 1%;
}
p {
  font-size: 17px;
}
li {
  font-size: 17px;
}
